[submodule "cpp/third-party/dishtiny"]
	path = cpp/third-party/dishtiny
	url = https://github.com/mmore500/dishtiny.git
[submodule "tex/notebooks"]
	path = tex/notebooks
	url = https://github.com/mmore500/hstrat-recomb-concept.git
	branch = notebooks
